absl-py==2.4.0
aiofiles==25.1.0
ale-py==0.11.2
array-api-compat==1.13.0
asttokens
Box2D==2.3.10
chex==0.1.91
cloudpickle==3.1.2
colorama
comm
contourpy==1.3.3
cycler==0.12.1
dataclasses-json==0.6.7
debugpy
decorator
etils==1.13.0
executing
Farama-Notifications==0.0.4
filelock==3.24.2
flax==0.12.4
fonttools==4.61.1
fsspec==2026.2.0
glfw==2.10.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.3
humanize==4.15.0
imageio==2.37.2
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
ipykernel
ipython
ipython_pygments_lexers
jax==0.9.0.1
jaxlib==0.9.0.1
jaxtyping==0.3.9
jedi
Jinja2==3.1.6
jupyter_client
jupyter_core
kiwisolver==1.4.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline
mdurl==0.1.2
ml_dtypes==0.5.4
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.2
mujoco==3.5.0
mypy_extensions==1.1.0
nest_asyncio
networkx==3.6.1
numpy==2.3.5
opencv-python==4.13.0.92
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.32
orbax-export==0.0.8
packaging
parso
pillow==11.3.0
platformdirs
proglog==0.1.12
prompt_toolkit
protobuf==6.33.5
psutil
pure_eval
pygame==2.6.1
Pygments
PyOpenGL==3.1.10
pyparsing==3.3.2
python-dateutil
python-dotenv==1.2.1
pywin32; platform_system == "Windows"
PyYAML==6.0.3
pyzmq
rich==14.3.2
scipy==1.17.0
simplejson==3.20.2
six
stack_data
swig==4.4.1
sympy==1.14.0
tensorstore==0.1.81
toolz==1.1.0
torch==2.10.0
tornado
tqdm==4.67.3
traitlets
treescope==0.1.10
typing-inspect==0.9.0
typing_extensions
wadler_lindig==0.1.7
wcwidth
zipp==3.23.0
